// =======================================================================================
// ** Colour, font stacks, media queries, that kind of thing.  **
// =======================================================================================


// =========================================
// ** Media Queries  **
// =========================================


@mixin breakpoint($point) {
  @if $point == 2000 {
    @media (max-width: 2000) { @content; }
  }
}


// =========================================
// ** Mixins  **
// =========================================


//********** General **********

//Display Flex Mixin
@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}


//********** Typeography **********

//Font Stacks
@mixin heading-font-stack {
font-family: sans-serif;
}

@mixin font-stack {
  font-family: sans-serif;
  line-height: 2rem;
}


// =========================================
// ** Variables  **
// =========================================


//********** Colours **********


//Main Font Colours

$font-colour: #424141;
$light-font-colour: #f2f0eb;

//Link Colours
$link-colour: #486a8d;

//Background Colours
$main-background-colour: #4756e4;
$other-background-colour: #c32ff7;
$white: #fff;




//********** Transition Timings**********


$transition-duration: 0.3s  ease-in-out 0s;
$transition-duration-fast: 0.2s  ease-in-out 0s;
$transition-duration-slow: 0.8s  ease-in-out 0s;



//********** Spacing & layout  **********


//Headings
$large-h1-spacing: 5rem;
$h1-spacing: 2.5rem;
$h2-spacing: 1.5rem;
$h3-spacing: 1rem;


//Articles
$large-article-spacing: 5rem;
$article-spacing: 2.5rem;
$small-article-spacing: 1rem;

//Sections
$large-section-spacing: 3rem;
$section-spacing: 1.5rem;
$small-section-spacing: 1rem;

//Paragraphs
$large-paragraph-spacing: 3rem;
$paragraph-spacing: 1.5rem;
$paragraph-spacing-small: .5rem;

//Forms
$input-spacing: 1%;

//Other Spacing



// =========================================
// ** Browser Quirks  **
// =========================================

