//********** Styles for the whole site **********

// =======================================================================================
// ** Globals  **
// =======================================================================================


// =========================================
// ** Imports  **
// =========================================

  @import "bits";
  @import "baseline";



// =========================================
// ** Wrapper Tags  **
// =========================================

html {
  font-size: 20px;
}

body {
  @include font-stack;
}

section {
  width: 100%;
}

p {
  padding: 0 $paragraph-spacing $paragraph-spacing;
}
// =========================================
// ** Wrapper Classes  **
// =========================================

.svg-wrapper {
  width: 100%;
}

.background-div {
  height: 500px;
  width: 100%;
  background-image: url('/images/dog.svg');
  background-repeat: no-repeat;
}

// =========================================
// ** Headings  **
// =========================================

h1,
h2,
h3 {
  width: 100%;
  text-align: center;
  padding: 0;
}

h1 {
  margin-bottom: $h1-spacing;
}

h2 {
  margin: $h2-spacing auto;
}

// =========================================
// ** Inline Tags  **
// =========================================

// =========================================
// ** Inline Classes  **
// =========================================

// =========================================
// ** Header  **
// =========================================

// =========================================
// ** Body  **
// =========================================

// =========================================
// ** Footer  **
// =========================================
