// =======================================================================================
// ** Universal Styles for the whole site  **
// =======================================================================================

// =========================================
// ** Imports  **
// =========================================

@import 'bits';
@import 'baseline';

// =========================================
// ** Wrapper Tags  **
// =========================================

// =========================================
// ** Wrapper Classes  **
// =========================================

// The parent margin collapses with the first and last child

.homepage-main-content {
  // @include flex(column);
  // @include main-grid;
  margin: 300px 0;
  // @include flex(column);
}

.margin-div {
  width: 80%;
  height: 20vh;
  background-color: #00f;
  margin: 200px auto;
  transition: all 0.3s;

  // &:nth-of-type(2n) {
  //   background-color: #f00;
  // }
}

.animate {
  transform: skew(10deg) scale(1.1) rotate(10deg);
}

// =========================================
// ** Headings  **
// =========================================

// =========================================
// ** Inline Tags  **
// =========================================

// =========================================
// ** Inline Classes  **
// =========================================

// =========================================
// ** Header  **
// =========================================

// =========================================
// ** Body  **
// =========================================

// =========================================
// ** Footer  **
// =========================================
